{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang Mysql myLibrary</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang Mysql myLibrary</h1>   
{{ end }}