{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered </h2>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Author</td>
        <td>FormatType</td>
        <td>Location</td>
        <td>ISBN</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Title }} </td>
        <td>{{ .Author }} </td> 
        <td>{{ .FormatType }} </td> 
        <td>{{ .Location }} </td>
        <td>{{ .ISBN }} </td> 
        <td><a href="/show?id={{ .ID }}">View</a></td>
        <td><a href="/edit?id={{ .ID }}">Edit</a></td>
        <td><a href="/delete?id={{ .ID }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}