{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .Title }} </h2>
      <p>Author:  {{ .Author }}</p>
      <p>Format: {{ .FormatType }}</p>
      <p>Location:  {{ .Location }}</p>
      <p>ISBN: {{ .ISBN }}</p><br /> <a href="/edit?id={{ .ID }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}